<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'home.css')}}">
    <script href="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <title>Deals on demanded</title>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "100%";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</head>
<body>
<section class="container">
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">G3 Login</h5>
        <p class="card-text">G3 employees must login here to submit their quarterly review form</p>
        <a href="#" class="btn btn-primary">G3 Login</a>
      </div>
    </div>
  </div>
     <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reporting Manager Login</h5>
        <p class="card-text">Reporting managers must login here to submit their review for G3 employees handled by them</p>
        <a href="#" class="btn btn-primary">Reporting Manager Login</a>
      </div>
    </div>
  </div>
     <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Regional Head Login</h5>
        <p class="card-text">Regional heads must login here to submit their review for the G3 employees</p>
        <a href="#" class="btn btn-primary">Regional Head Login</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Human Resource Login</h5>
        <p class="card-text">HR team members must login here to submit their review for the G3 employee</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
    </section>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
