<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Oh no!</title>
</head>
<body>
<div class="jumbotron text-center">
  <h1 class="display-3">Woops!</h1>
  <p class="lead"><strong>Looks like you entered an incorrect OTP, please sign up again and enter correct OTP this time!</strong></p>
  <hr>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href={{url_for('login')}} role="button">Login Again!</a>
  </p>
</div>
</body>
</html>